{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Accueil</title>
	<link rel="stylesheet" href="{% static "fontawesome/css/all.min.css" %}"> <!-- https://fontawesome.com/ -->
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/templatemo-xtra-blog.css" %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
	<header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
                     
                <h1 class="text-center" style="margin-bottom: 2rem;">Blog App</h1>
            <nav class="tm-nav" id="tm-nav">            
                <ul>
                    <li class="tm-nav-item active"><a href="{% url 'home' %}"  class="tm-nav-link">
                        <i class="fas fa-home"></i>
                        Accueil
                    </a></li>
                    <li class="tm-nav-item"><a href="{% url 'new_post' %}" class="tm-nav-link">
                        <i class="fas fa-pen"></i>
                        Nouveau Post
                    </a></li>
                    <li class="tm-nav-item"><a href="{% url 'categories' %}" class="tm-nav-link">
                        <i class='bx bx-category'style="font-size:2rem; font-style:bold;"></i>
                        Catégories
                    </a></li>
                    <li class="tm-nav-item"><a href="{% url 'logout' %}" class="tm-nav-link">
                        <i class='bx bx-log-out bx-rotate-180' style="font-size:2rem; font-style:bold;"></i>
                        Déconnexion
                    </a></li>
                </ul>
            </nav>
           
        </div>
    </header>
    <div class="container-fluid">
        <main class="tm-main">
            <!-- Search form -->
            <div class="row tm-row">
                <div class="col-12">
                    <form method="GET" class="form-inline tm-mb-80 tm-search-form">                
                        <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..." aria-label="Search">
                        <button class="tm-search-button" type="submit">
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>                                
                    </form>
                </div>                
            </div>            
            <div class="row tm-row">
                {% block content %}
                  {% if blogs %}                      
                  {% for blog in blogs %}
                            <article class="col-12 col-md-6 tm-post">
                                <hr class="tm-hr-primary">
                                <a href="{% url 'post_detail' blog_id=blog.id  %}" class="effect-lily tm-post-link tm-pt-60">
                                    {% if blog.image %}
                                    <div class="tm-post-link-inner" style="object-fit: contain; width: 21rem;height: 20rem;">
                                        <img src={{ blog.image_url }} alt="{{ blog.title }}" class="img-fluid">  
                                    </div>
                                    {% endif %}                          
                                    
                                    <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{ blog.title }}</h2>
                                </a>                    
                            
                                <div class="d-flex justify-content-between tm-pt-45"> 
                                        
                                    <form method="post" action="{% url 'like_blog'%}">
                                        {% csrf_token %}
                                        <input type="hidden" name="post_id" value='{{ blog.id }}' />
                                        {% if user not in blog.likes.all %}
                                         <button style="border: none; background-color: transparent ;" type="submit"><i class='bx bx-heart' ></i> {{ blog.likes.all.count }}</button>
                                        {% else %} 
                                         <button style="border: none; background-color: transparent ;" type="submit"><i class='bx bxs-heart' style="color: red;width: 2rem;height: 2rem;"></i> {{ blog.likes.all.count }}</button>
                                        {% endif %}

                                    </form>
                                <span class="tm-color-primary">{{ blog.created_at|date:"d-m-Y" }}</span>
                            </div>
                                <hr>
                                <div class="d-flex justify-content-between">
                                     <span> {{ blog.total_comments }} commentaires</span>
                                    
                                    <span>Par {{ blog.user.username }}</span>
                                </div>
                            </article>
                        {% endfor %}
                    {% else %}
                        <p>Aucun blog trouvé.</p>
                    {% endif %}
                {% endblock %}
            </div>
        </main>
    </div>
    <script src={% static "js/jquery.min.js" %}></script>
    <script src={% static "js/templatemo-script.js" %}></script>
</body>
</html>