{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blog App</title>
	<link rel="stylesheet" href="{% static "fontawesome/css/all.min.css" %}"> <!-- https://fontawesome.com/ -->
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/templatemo-xtra-blog.css" %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
	<header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>              
            <h1 class="text-center" style="margin-bottom: 2rem;">Blog App</h1>           
            <nav class="tm-nav" id="tm-nav">            
                <ul>
                    <li class="tm-nav-item"><a href="{% url 'home' %}" class="tm-nav-link">
                        <i class='bx bx-home' style="font-size:2rem; font-style:bold;"></i>
                       Accueil
                    </a></li>
                    <li class="tm-nav-item active"><a href="{% url 'new_post' %}" class="tm-nav-link">
                        <i class='bx bx-edit-alt'style="font-size:2rem; font-style:bold;"></i>
                        Nouveau Post
                    </a></li>
                    <li class="tm-nav-item"><a href="{% url 'categories' %}" class="tm-nav-link">
                        <i class='bx bx-category'style="font-size:2rem; font-style:bold;"></i>
                        Catégories
                    </a></li>
                    <li class="tm-nav-item"><a href="{% url 'logout' %}" class="tm-nav-link">
                        <i class='bx bx-log-out bx-rotate-180' style="font-size:2rem; font-style:bold;"></i>
                        Déconnexion
                    </a></li>
                </ul>
            </nav>
            
        </div>
    </header>
    <div class="container-fluid">
        <main class="tm-main">
            <form action="{% url 'create_tag' %}" method="post">
                {% csrf_token %}
                <h2 class="tm-color-primary tm-post-title mb-4">Entrer une nouvelle catégorie</h2>
                <div class="mb-4" style="display: flex;justify-content: space-between;">
                    <input class="form-control" style="width: 20rem;" name="name" type="text" placeholder="Entrer une catégorie">
                    <button type="submit" class="tm-btn tm-btn-primary tm-btn-small">Sauvegarder</button>
                </div>
            </form>
                            <form method="post" action="{% url 'create_blog' %}" class="mb-5 "enctype="multipart/form-data">
                                {% csrf_token %}
                                <h2 class="tm-color-primary tm-post-title mb-4">Entrer les informations sur votre post</h2>
                                <div class="mb-4">
                                    <select class="form-control" name="tag">
                                        <option value="">Selectionnner une categorie</option>
                                        {% for tag in tags %}
                                            <option value="{{ tag.id }}">{{ tag.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <input class="form-control" name="title" type="text" placeholder="Entrer le titre du post">
                                </div>
                                
                                <div class="mb-4">
                                    <textarea class="form-control" name="content" rows="8" placeholder="Entrer le contenu du post"></textarea>
                                </div>
                                <div class="mb-4">
                                    <input type="file" id="id_image" name="image" accept="image/*" onchange="previewImage(this)" >
                                </div>
                                <div id="image-preview"></div>
                                <div class="text-right">
                                    <button class="tm-btn tm-btn-primary tm-btn-small">Poster</button>                        
                                </div>                                
                            </form>                          
                        </div>
                    </div>
                </div>
              
            </div>
        </main>
    </div>
    <script>
        function previewImage(input) {
            var preview = document.getElementById('image-preview');
            preview.innerHTML = '';

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    var image = document.createElement('img');
                    image.src = e.target.result;
                  //  image.style.maxWidth = '100%';
                    preview.appendChild(image);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/templatemo-script.js" %}"></script>
</body>
</html>